.cal{
    border: 2px solid black;
    width: 200px;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.display{
     margin: 10px;
     width: 100%;
}
button{
    border-radius: 5px;  
    margin: 5px;
    padding:5px;
}